@font-face {
font-family: 'SEGA LOGO FONT';
font-style: normal;
font-weight: normal;
src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1{
	font-family: 'SEGA LOGO FONT';
	color: #9DCFF0;
	/*linear-gradient(-112deg, #FDC830, #F37335);*/
}

body{
	background: linear-gradient(-112deg, #1f4037, #99f2c8);
}